 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4"> Shop App </h2>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perspiciatis unde, voluptates exercitationem inventore eum qui aperiam nobis? Expedita est numquam possimus incidunt et accusamus doloremque iste. Optio, ea doloribus. </p>
            </div>
        </div>
    </header>