
<div class = "row">
        <div class = "col-md-9">
                @await Component.InvokeAsync("Categories")
        </div>
        <div class = "col-md-3">
            product anasayfası
        </div>
</div>