@model ProductViewModel

@{
    var popularClass = Model.Products.Count>3? "popular":"";
    var products = Model.Products;
}

@section Categories{
    @await Component.InvokeAsync("Categories")
   }
@if(Model.Products.Count == 0){
    <div class = "row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                Ürün Bulunmamaktadır
            </div>
       </div>
    </div>
}else{
    <div class="row">  
        @foreach (var product in Model.Products)
        {      
        <div class = "col-md-3">
            <div class = "card">
                <img class = "card-img-top" src="https://images.hepsiburada.net/assets/Telefon/ProductDesc/iphone7-açıklama-apple-yeni.jpg" alt="photo of phone">
                <div class = "card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <a href="" class="btn btn-primary">İncele</a>
                </div>
            </div>  
        </div> 
        }
    </div> 
}