@model ProductViewModel


@{
    var popularClass = Model.Products.Count>3? "popular":"";
    var products = Model.Products;  
}

@section MessageBox
{
    <div class = "aler alert-success text-center m-0" >You have a message!!</div>
}
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
}

@if(Model.Products.Count == 0){
    <div class = "row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                Ürün Bulunmamaktadır
            </div>
       </div>
    </div>
}else{
    <div class="row">  
        @foreach (var product in Model.Products)
        {      
        <div class = "col-md-3">
            <div class = "card">
                <img class = "card-img-top" src="https://images.hepsiburada.net/assets/Telefon/ProductDesc/iphone7-açıklama-apple-yeni.jpg" alt="photo of phone">
                <div class = "card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <a href="" class="btn btn-primary">İncele</a>
                </div>
            </div>  
        </div> 
        }
    </div> 
}